[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Weibo++
Name[zh]=微博++
Exec=/usr/bin/invoker --single-instance --splash=/opt/weibomm/qml/SinaWeiboClient/images/blog_loading1.png --splash-landscape=/opt/weibomm/qml/SinaWeiboClient/images/blog_loading_landscape --type=d /opt/weibomm/bin/weibo++
Icon=/usr/share/icons/hicolor/80x80/apps/weibomm80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
