Source: weibomm
Section: user/other
Priority: optional
Maintainer: karin <beyondk2000@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev, zlib1g-dev
Standards-Version: 3.7.3
Homepage: https://github.com/glKarin/weibo++

Package: weibomm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Weibo++
 Base on sina weibo client of Nokia N9/50(MeeGo 1.2 Harmattan), rewrite binary using weibo H5 API.
Description-Zh_cn: 微博++
 基于诺基亚N9手机的客户端，实现了阅读、发布、评论、转发、私信、关注等各主要功能，支持本地相机即拍即传和新消息提醒，记录点滴生活，分享精彩瞬间，全新的界面，给您带来完美体验。
XSBC-Maemo-Display-Name-Zh_cn: 微博++
XSBC-Maemo-Display-Name: Weibo++
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0
 d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9i
 ZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2Vo
 aUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6
 bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYx
 LjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpS
 REYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJk
 Zi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIg
 eG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxu
 czp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1s
 bnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9S
 ZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9w
 IENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkMzMUY0
 RDMwRjYyQjExRTBBNDcwRDFBRjZDQzQwRTVEIiB4bXBNTTpEb2N1bWVudElE
 PSJ4bXAuZGlkOkMzMUY0RDMxRjYyQjExRTBBNDcwRDFBRjZDQzQwRTVEIj4g
 PHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6
 QzJGOTI3OTlGNjJCMTFFMEE0NzBEMUFGNkNDNDBFNUQiIHN0UmVmOmRvY3Vt
 ZW50SUQ9InhtcC5kaWQ6QzJGOTI3OUFGNjJCMTFFMEE0NzBEMUFGNkNDNDBF
 NUQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1l
 dGE+IDw/eHBhY2tldCBlbmQ9InIiPz4jqKC6AAAW0klEQVR42tRbCXRdZZ3/
 3e3tee8leclLQtN0oYUChUinKItQWhVGWRVmRBlaBRXnHIE5KsfjzGHG9ciI
 HqwMLpwBOiPDpkPrDqgU1LJ0MbZCpXRJSJqk2fP2e99d5v99333LzXtpEwra
 uT23d3v3u9/v///913sj4S1cHMfRLP13K2k3DskfAuQWONmFs/3eLPwOavDd
 O/l+/reGWXhuLJzcvEeSpOJbNUfpzRqomPtZF23WEMizIUndNDStiL4ZY9vm
 UEpW23oca6pHkht20ZkeLXT5H//qAijmnriSNlfRMAQci/AXXZQReu5WSOoW
 LXjp//zFBFDMPR6jzW1064a/POijCcO8l3bu1kLXTr8lAiB7Dpn5LbcC+u3c
 pk/MZUoI4e+/8KYKoFh4fpVj9hPNzOX4/7H0WMbuDcGmr/3xuAVgZH54HRzj
 AcDynwjInGkDTsGCFPNBCihHZYNZ2L4h1LJxyxsWgJG+fz395METSbV2b4bW
 NOnD4UKQlzRAaqqvG8cuwNJf2BBq3bRp3gIw0vddxL3sCbbYh0gAB0kAtuOu
 NMvGAORVjZA0ub4QjFeuCrXcu2XOAjBS32OevvdEdXaOacMZKcDel6K8yqIT
 BFyWoZ7fTKxQ6zjwwpRV2N4dSv6gb+Y1uT510puJYwSeBj/BVuvPk7B3jsLJ
 6FAIsHxyiARiAoUizK2jsCf1mnskSYvLvuUPzokB+fF/uVJWk5vfVNoO54Hp
 IpzSCVWC3B6EFFLnPZb10hic0QIchk2WoJzdTGHKhrV9CpKlwFZkaFckIPlq
 yW0Zr5JTvGfTUQVQGP/XQ5LS+KYkOHZ/FtarKSBHGmLonTInRfpCk5e7wvOj
 /5E8rAMZbgJCwTKU1Y3ieS+kYNOx3OqH+p5Y7b3WZG+g+QuLZxXAwL5P/V2i
 pevR40ZOgK0/TMIZ0wVYx8XuEYJLhotaIbXMI8LmhTCdLD3j9+OkMYJgEuh3
 xMVze3IkFAXKBRHIy2rHtY3XNoSS39tU1weEQpH1ZFA4ntU+nIb568OkqSxN
 jM5ZllhNtjXFala21oHp+Y3fl4L5ywEyqxyUv6XiUrZIszTO89OQFmlAwOHH
 5vZM3ftlbdGGuk5wy6PXt4aCoffCocrzDa7WK+Owth2hRIXs3aLVdFfaB1s5
 8KJXCOnC/J5ji/HsPfSs7eNQ18a4E3RyBoFOQz7TRz8zuTM0D2bqjGGuKYx/
 satGAKvPjlzlkITe6GptJw+8Z7ICbhaN8/OmVwjzeQ46idYRmd9r/zkNmzJD
 5cwA4aII8XIeUptEztXhzzH3Z2cZx7qqRgC2E3zPG6b9SwT+QEoAK68uuGLV
 apb2rcqxOb9nSUEHypo4HKI6G996MQXpZNUVLlH/dRLCQomPW+zN1R8HuKQc
 kCqRKX0RHN/8w9KL5OwO5rwe3qly9k71OcnrCNkx8w9iUkIRgwbsV3NwenUy
 JXafxFdpMXl2cmxSVIFEs1bOCMN8hvzHMDlazYYUZxGCBErUl5s0wZAJ3TN2
 VWZ0kUcAt9wYXdoQ1BPMvuYF/oUpDt5xnIpnn+npHa9QBKCqffLg3K7TRGEC
 xARQ/o0Lnu3b+ywYvQX4PkIpr58E0krhr5uoTx4feYNsnwTD/GnEhtzhQH27
 ComNURdTMZQf+eI5wdY7XuICuOxdwbNYZuHUk9ZsMX53Gg5LRUvxbQZ4x5kh
 gLJAJC8bSADWXorfv0t5NF75TdWxIcHakYFyXpD8ANnvqkBpNpBXVFeGNpR3
 UCikf7NhkpziatoIASQalW5OFduYG/jXKQ/fNcELEQ/tZyY7ddkgeZjg9JEd
 9zJnVQEqORXgThUT2G/svVkO7rjrCeS7yiZQLDpJ4SCObQJOhpjy3ChPP2vp
 7ZKhLvWrtM62dkXDjofu7m9sdx8V8Owee8Ca0zyP2ecoTJ9ZFkBjVF4BmwQw
 h+6z/cwYkNXrgK3Stj3DJ1RrvNoR1ti6F6zHBGypIkD7+AUgIdBRzYBWhycJ
 RzcBew9RlfL7atuWyqBLlSSO4hAl8ftqrfN7JM81jyDKAigJRKbzxnELoGhY
 FRPgmrHSNH5o9jvIS9svTNZSfyb97RngZ5iA5LFzcJCSXcsEZ4YAyoKj1MU5
 TgawUQJqOloqhppTezrHRFCMQ/Z10klFXKoqlaynKeTtzdWxcam871SzwUEt
 1WlA01QpSVMqJkFbv2LyJ1ZrnVsRa3SUmeMKpmQWfiqAlsqUBNFsVyqQm2VP
 keUp88oTYwrKkAUNE6AMoiv7/YwBvvJNJl209kFWmyjZSJRvdFLk+HZPV1Hd
 8YKsMgFx3uEzKOga8rofOVr1osaBa8kYpIDmzSemcrCmc1wQQb5aCMvFMuXh
 VAmn5BSpCjR32rB3Uv7wCIU9ivuha0OQQzK85SczGXKcBNwxJ4jpmepHN6si
 Jroik1hSYpMrGCFHO8mFICkNFKMnmKNwNVYFfib1+WssGdOZECbSEdiRKIIr
 OuBflEC4LQYlfvTavzg8Bb13DBO0Dv35MKKqgUalCI0ewDWPijN0iCIEn/WI
 iC02is/lkd+eQvwzcWgLfa628wSYUnRm3hyiy6RKKspHbU//oXOQXeSlARMC
 cw2lcJ2nB91FUvMHeN+txr5d8JYtY3wqgimjCYG3LUb47C5o7ZWWoqz64Gto
 gRKIQg021IJPj8HMp2BkxtznGkhv24/cttfQVMySIMxyWOQ6cFzwTAiOVTlW
 TSS/GYYc1KtoybshYmXnXGb3D5tvVz0xWg5UuXyLX3B25MkBkgCmiUI+oi4B
 gaYJYbmOMJUJ4vBoMyJrT0fLBcvo4YLiwcQiKlqasK9/HINHMji47WUUCgUo
 iopTV5yG8y+4AB0dHbX9lJEDyI8chBwOIvyOxZh4fAfye/uQJLOQuQAcrnub
 A6dEyijCpHEtWk3LRvoXOmJXhyu0ZMUDVy7Ni1hREkBnUg0KBuwkBjA3pIRc
 SRXFjyUF1kZyGIeLgvpOlYOT2e9VHJ5oQTq6EE0fXA2tg5yo5kds0SoozUuw
 7cVd+PWvnsLExARyuTyyuRyy2Rzt56DrBgxDx8c+/gnccuut9cNusYBU7y5M
 9+5E6jd/gv3jneiQDKqfqNAxaUtVZ5FMkzGA/2MsIBMOnhtA+781V5wSy3AJ
 C8dk5dxmKV/WqOXERbLZS3kCppXDoZOnc4NV4Ku9OtXbfQNN0E9bjtb15/Df
 R7u6EV9+AYaPjOK+u7+NocFBDpqDJ+BsP5/PwyDwumHQ5A3ceeedOHBgP761
 8ds1ApC1AOLLzkPDorNxJPwjDE9mMPHTHWiQdBcwOWduBLZghbuaaUs0XhgW
 bs6qqAqtvGsGFR+gepIWNQThC9xsa3+2TkwX10cmYwR+JRIEXg3GkDznGvhj
 bRjo78c3vn4nxifGOfASeKZ1Rn+DNGYQeLYt0tYmU7v/gQew6m9W44Ybbqj/
 7pcE0XHeh+k5URzYdgDhyUECzGFzrTtcDI4rBJf5sl9onilP8QshEGPJ2VQz
 wG2IsBts9p/CXzmhyIBTJTUk1S11dUPBeHAxB++LJnHSmps4eAbyno13Y2Rk
 BGnyG6lUGtPT07RNCSGQABgD8rTVaWX0zdD5TCaLO+6445gJTOvbLkfjh9ah
 QKGR657lHqhonh+TBDiBWfiUyKdJBL6YFx0oHlLdrJLWf/7W1IBcNgHbBc7N
 gJIkidKDg4XaBgY9ZJS03/zxd3Lw7edfzzXElid/8XMc6u1FisBPTzPwKRJE
 lkATcJ1A01rQda55g+ifyWbpnM7v7evrQ29v7zGFsPim22Dy+ZfIL5hg2+5K
 8/MvDbAPGdyahGm+QSjYSAnTcPFufCiTk71Fi8azQcEEy2VFbVprrjwdvmQT
 p30JPFueeOJ/CXyaa1xoPYvmRDMSLQkO/q67voG7776bhFDgjDBNb60+FwH4
 Ey2InbuKh70y7Wmetkt/NuXQWRGCEGUfHdFquK/OWAOhoQYL9wH9Q+arFBJO
 4QLgDi7rtpJmdG/cdFc9rQuxpedAC1Xi/J7duzE8fISDzpLdL1myBF/56lex
 YsUKfv3hhx8mgIfI/ovcLxzPYpJZCfACeNkBkgSUVhmR012qcyEQFpYMqYLV
 1alBSQDjwiYcoXVjnG4MukxIzTABsa82hxBdco5noB07dnDKMxv3BwJ4cNMm
 RKOVb6Suu+46rF27Fs8888yswNasWXPsKo6cbOHlPa4BCOAWd3xiv/ndja6N
 E3CVMSHC3omxV160H6iU6mIZYiZglF4zQ58WN7CVSTDpqypmnHIRFDn9VA/1
 2cJsmdk0c3CXX3GFB3w5rtv2rMCuvPLKOWl/4pt31YS9kvdXWxQk3k/xXwlz
 J47ClJg7iwhaozAJ1wEy1pejwN5D5j5+QQ6Km9lpEoaUsCtlVRUT/H2v10ws
 mUzyMMfsOxSqX1YfzcZvu+22Y4LXX/4Tph97mHt+C17qW7Qu+HQbKSYj5s+0
 zzLb/JibuPkFPhueWoYLoLNFGeInWT+faSk/wakinXmSt9R118CO7TWTW/eu
 d3EPXyjoeO7ZZ2uub9iwgXv6esv69euPSX+L7H7oxo+Uwx4Dz0CzmM+m3Hp9
 KyLdjYK9bP48AISFQrMjwryLekUANl6CcPfAii5t0aplvvfykSj95GmjnypB
 lUrJSToe1D0+wB56HXJbF9TlZ1a8s9/PU96XXnwB+/a9hh07d6KtrQ09PT24
 +eabsWVL/U91zjrrLDzyyCMIBAJH1fyRGz+Kwv593rDnMiC6Lo6OGzSRyvN8
 n4W8tADPNM9YnB8V9Y2rxL5h68n7f5b7FWdA7yCZgON2OljG5E+4begM5HNl
 b9/PFULuK5+E/rOHPBO9/fbbsfTkZdwPbN68GRdffDGuvvpqPFuHESW737p1
 K+Lx2T9Eyf3ylxi69hrkyfFx8DPCXvTiGBb8UyfZOI1RKGk+Ivx7if7s2Nck
 BOPiHB6zesomsPFH2Vd13ckJ25DL4FFIQWrrgLyutSYdZs2J7Jf+Efn7vlae
 bCwWw9NPP41bZyluSktXVxflDE9wIc0G3iRvP3bjTRi56aMUxabLMb/a+bXe
 2I6TPhEQwGSfAM0dH2vzxAXVc64Q2G8q9Mfm3+Z7qhtHkV3fbfntspPUbt4P
 CJAtFSaBcLvIo6kusB4h+u02PQIQApOgtC1E4GOfg//yD3kcHgM4NTXFtdzd
 3Y1FixZxW2f7s4a5l19B9j/vR+bxx3m5a7r1fnW1JzXJ6PhsG/wnN4kCh2Ww
 gYQYIEuFrT8m7J8VPtkhwuATodASzdTRaat/yfUjp9Fuptw5e+DT8Y3XXhj4
 VNnUGzoFeBpEygzyut7cPA5n56Tbt0O5XV1qWMrtC6Fe9D741rwX2urz5/aS
 hTJGi0DrT/4KxpNPozjQz9scpWrPdOwKeFpjH2hB/H0JyA6V6ZGTXDs5QiZA
 gLWIKOIyhyvKY0JID1CxW2mk7uk1N59769jVnpejv+nRt157gZ8LwGFlJHMe
 DFhmhI4DXKLqNWHYjTrMp/Jlc5CqnKM1SJN/6HvQf/B9Lhhl+UpIkTiUU8+g
 bbScWVr9h2EPDMDuH4Q1cLj8EsR2qzph63Z5n3n+0IUxxC/ToLYRSI2ctE5p
 bY6SmyDFfT8xIU3jRIPCCTIflibNRzvdPoDP89ZraMzaWu8Tma6930082ZlQ
 TuF4IklRODB6NSwQrTJmX0XWXEzCfLyfyuWct2FZeoFR2tqiqWnPPO+2wh14
 G55WuccnqI+EDP/5YUTW2JATbeAvb3IU0iJuF2n6EGtCiLnlSRiWXrmWPSKO
 Qy2QUgOViGI6ueYPcvr3zfxEpu/Z3cazZUeRHoWUJa8abBNEYXE0Sw8JtUOK
 +6GtT0K9PgJpFfmL0iernjZ49WsvbwNVKr0hqmqFO+4/eaEG3yUxNH5OQ8s3
 lyL6gTbImlvKMk1atvtKnY41snU2R7YfaCHHTYD1rDgOtvKmjTQ14HF+ew6a
 W0vgPSbAlpvvTT14xWr/+6MhOSGxRgOzIZY/s4mniFL+RkEx1zSkU9qhnkGx
 90ry0runYB+m3/fnYe83Kg1MeF97Sai885MW+CA1EuiT6HhpFMrCNKQYoziN
 mWWxPCf2mQkWpoVz8zHQ5Nkj7WI+kwfFVtGE3TNTaAwJ6msNwplXLQ9tzX9n
 ZjFUvez54e8LP/3o2iD/kEiyCnDcLi2XbmSBmHxuwi2dw8KmM9MwTmuHcUaE
 FJCmn5qYQhLG3jRyeROmFOJbmzJNiQRqLPYJ82LgyDmFVUqfIxGoYxEEp4rw
 h8OIyo1QJROBBg2a0wBfboqcOYU2lUClyAyCLPTR9H2NQjnxLjfzozGnSAiB
 mGBw9Sfkvea2+57Kbz3Wp7LnHro38WhLVO70vBVu6OCDshK0OHoIxUgnLMq0
 GLCJ8RT5jAXih5khDOsJ5KyA8B/8E4AwFUp53qsyEKSErMjtWfUFOUjZMRAh
 AbAtSOiyP4qYX0ejQiYXToq2WKoXzR1J+FUHam4IKjlCX6RRePnx/ZSEdJYF
 KrHjmdlk0cld+uXJa7YfMH/habfVEcDIRNoOXNbtX+tNfsiufGEUU5PImxps
 ZnMs9GWGSTMhOGqQg3LyKUQaG9EYdhBxJhAOBxGLKGjxZ9Hgd5CIB/h+S8RG
 M+03h4pI+tOIxkJo8BXRrKXQRBQO+mXuc7RwFD7FRhhZ+BWLM8h2VJgpuhaK
 QmbdaZYSMv8UpGiQn4JUqO1lfufJ/H/813OF73sagrMIwNrdZ76WjMnNb1uo
 dZcHYYUEgVP0NIXbZt7+ZrFVIQFosSRCPgkN1jiimo5INER+0USDPoBYcxNi
 ARuh4ihiDQHESRhxJY14wES8wY+YT0dUItDxEGJBElphAOFYI5qCJqL2GCJ+
 CaGABj90aFShKgTa71MQzI9AUZidB4X9M7MgM2FznAm+p7e47cP3pD7LqumZ
 YGf7WHfo1k3pe05NKp3nLdPWVX1sK6RGtsVebiBHDoYmA17HGLAnB2GHKAb7
 ivx1lE1bO+B+tCzT5MJEUR/dZ+fEeGTrMPKia+MXiYqiZMnPUhquauytJRR7
 gpy/X2RzR9j8EyIakDliekQkQJlx0cy1al+b97xe3PbOL019ptrzH/NrcXfZ
 ecm/T33pqd3GT2o+2s7ThI9QDE5Pid47q7IMsl3DgBokZ0ZxTqVqzCfLxARL
 rGaOR0uxn0aAOTi2L9FKmi39jr0HVCl+8zHIyXE6c8n4RATKpStTN0hog/tI
 ++N1Py5nmifwn6ej52cDeayPbfoee0nvDajQz16onq5KfH5eihFwpKjUzKeF
 IHwRMTmmHT95bH9ECCxLbGl0o0h6XABi14qGuBZtE9fYOPz1d8QNvzR2iGxb
 p+fkKBTmiR1Tw2Jb5z1laX3qT8ZPLv3G9Jfp6Nk3/Ccz1VniuhXaB75+Tfgf
 lieV7jl3LxlI1WUI6zNEk26WNinO+91+HRdA1TVunFX3zWMZTdv9d/w49/3/
 fl5/jA73HftjibkvrN4895a1gcs/eWHgss5GkTKfKEuqYI/9cJfx01sezT5M
 h9tYQJ7b1yLzXxjHV61Zpp33+UuC687oUM6KBuTEXwM0y+v3Dls9j+3Sn9+4
 tfAUS+SYA5/f5zJvfGGCYH9Ysfy6Vb7uS1f4lq9sV05pi8oLogEp8dYAplKI
 KL73iLXv8R695+GdRo9L8965avzNFMBM86BEHKwUY++lm2+5MLCS9/qXquU/
 tlyRVOb0h5f9k/ZAxnB4rNwzZPWP55z8z18xDuwfs/v5ewzy/a6mj/tzMekt
 Zml76Vsc1jedr8JdsHC3xlsxwf8TYACQUDO7QDOTHAAAAABJRU5ErkJggg==
